<template name="gameTemplate">
    <div class="row game-container">
        <div class="col-xs-12 col-sm-8">
            <h3 class="room-title">{{gameData.title}}</h3>
            <div class="what-each-player-knows">
                <ul class="list-group">
                    {{#with gameData.known}}
                        {{> knownInfo}}
                     {{/with}}   
                </ul>
            </div>
        </div>

        <div class="col-xs-12 col-sm-4">
            <div class="row">
                <div class="col-xs-5 col-sm-12">
                    <h3>Players</h3>
                    <div class="room-players">
                        <ul class="list-group">
                            {{#each playersList}}
                                {{> listPlayer}}
                            {{/each}}
                        </ul>
                    </div>
                </div>

                <div class="col-xs-7 col-sm-12">
                    <h3>Roles in game</h3>
                    <div class="todo">
                        <ul class="list-group">
                            {{#each roleList}}
                                {{> listRole}}
                            {{/each}}
                        </ul>
                    </div>

                    <div class="row game-btns">
                        <div class="col-xs-6 col-sm-6">
                            <a href="#" style="width: 100%"
                               class="btn btn-danger"
                               id="leave-btn">
                                Leave
                            </a>
                        </div>
                    </div>

                    <div class="row game-btns">
                        <div class="col-xs-9">
                            <a href="#" style="width: 100%"
                               class="btn btn-danger"
                               id="back-to-lobby-btn">
                                Back to lobby
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xs-12">
            <h3>How to play</h3>
            <ul>
                <li>Win 3 of the 5 missions for your team. </li>
                <li>A mission is "won" for the resistance if no* fails are played.</li>
                    <ul><li>*or at most one fail if the mission requires 2 to fail.</li></ul>
                <li>A mission is "won" for the spies if at least one** fail is played.</li>
                    <ul><li>**or at least two if the mission requires 2 to fail.</li></ul>
                <li>If resistance win 3 of 5 missions, spies can assassinate Merlin to win instead.</li>
            </ul>
        </div>
    </div>
</template>

<template name="knownInfo">
    <li class="list-group-item">Your username is: <i>{{name}}</i></li>
    <li class="list-group-item">Your role is: <b>{{role}}</b></li>
    <li class="list-group-item">You know: <b>{{info}}</b></li>
</template>

<template name="listRole">
    <li class="list-group-item">
        {{role}}
    </li>
</template>

<template name="listPlayer">
    <li class="list-group-item">
        {{username}}
    </li>
</template>