<template name="gameTile">
    <div class="row">
        <div class="col s12">
            <div class="card">
                <div class="card-content">
                    {{#if passwordProtected}}
                        <span class="glyphicon glyphicon-lock" aria-hidden="true"></span>
                    {{/if}}
                    <span class="card-title">{{title}}</span>
                    <p>by {{author}}</p>
                    <p>Players: {{currentNumPlayers}}/{{maxNumPlayers}}</p>
                </div>
                {{#if currentUser}}
                    <div class="card-action">
                        {{> joinButton (joinContext)}}
                    </div>
                {{/if}}
            </div>
        </div>
    </div>
</template>

<template name="joinButton">
    {{#if playerAlreadyInside}}
        {{> wideButton additionalClasses="join" buttonText="Return to game"}}
    {{else if playerInsideAnotherGame}}
        {{> wideButton additionalClasses="join disabled" buttonText="Already in another game"}}
    {{else}}
        {{> wideButton additionalClasses="join" buttonText="Join"}}
    {{/if}}
</template>
