<template name="gameTile">
    <div class="row">
        <div class="col s12">
            <div class="card">
                <div class="card-content">
                    {{#if passwordProtected}}
                        <span class="glyphicon glyphicon-lock" aria-hidden="true"></span>
                    {{/if}}
                    <span class="card-title">{{title}}</span>
                    <p>by {{author}}</p>
                    <p>Players: {{currentNumPlayers}}/{{maxNumPlayers}}</p>
                </div>
                <div class="card-action">
                    {{> joinButton (joinContext)}}
                </div>
            </div>
        </div>
    </div>
</template>

<template name="joinButton">
    {{#if playerNotLoggedIn}}
        {{#wideButton additionalClasses="join disabled"}}
            Login to join
        {{/wideButton}}
    {{else if playerAlreadyInside}}
        {{#wideButton additionalClasses="join"}}
            Return to game
        {{/wideButton}}
        {{#if gameInProgress}}
            <!-- If the game is in progress, add a pop-up first... -->
            {{> buttonModal (leaveGameModalArgs)}}
        {{else}}
            <!-- Otherwise we can leave the game directly... -->
            {{#wideDangerButton additionalClasses="leave"}}
                Leave game
            {{/wideDangerButton}}
        {{/if}}
    {{else if playerLeftButCanReturn}}
        {{#wideButton additionalClasses="join"}}
            Rejoin existing game
        {{/wideButton}}
    {{else if gameInProgress}}
        {{#wideButton additionalClasses="join disabled"}}
            In progress
        {{/wideButton}}
    {{else if playerInsideAnotherGame}}
        {{#wideButton additionalClasses="join disabled"}}
            In other game
        {{/wideButton}}
    {{else}}
        {{#wideButton additionalClasses="join"}}
            Join
        {{/wideButton}}
    {{/if}}
</template>
