<!-- 
This template requires the following data:

- gameRoom (Object), direct from the GameRooms collection
- gameRoomReady (boolean), whether that object is available yet
- isRoomOwner (boolean), whether the player we're rendering for is the room owner
 -->
<template name="gameLobby">
    <div class="container">
        {{#if gameRoomReady}}
            {{#with gameRoom}}  <!-- Establishes new context -->
            <div class="row">
                <div class="col s12">
                    <h3>{{title}}</h3>

                    <div class="flow-text">
                        Room password:
                        {{#if password}}
                            {{password}}
                        {{else}}
                            <i>no password set</i>
                        {{/if}}
                    </div>

                    <div class="flow-text">
                        Number of players: {{currNumPlayers}}
                    </div>
                </div>
                <div class="col s12 flow-text">
                    <h3>Players</h3>
                    <ul class="collection">
                        <li class="collection-item">
                            {{author}}
                            <span class="secondary-content"><i class="material-icons">supervisor_account</i></span>
                        </li>
                        {{#each player in normalPlayers}}
                            {{> usernameTemplate (extendContext player)}}
                        {{/each}}
                    </ul>
                </div>
            </div>
            {{/with}}
        {{else}}
            <!-- TODO(neemazad): Consider having a dummy template the size of the data above...? How? -->
            <div class="row">
                <div class="col s12">
                    <h3>Game loading...</h3>
                </div>
            </div>
        {{/if}}
        {{#if isRoomOwner}}
            <div class="row">
                <div class="col s12">
                    {{> wideButton additionalClasses="start" buttonText="Start game"}}
                </div>
            </div>
            <div class="row">
                <div class="col s12">
                    {{> wideDangerButton additionalClasses="delete" buttonText="Delete room"}}
                </div>
            </div>
        {{else}}
            <div class="row">
                <div class="col s12">
                    {{> wideButton additionalClasses="start disabled" buttonText="Waiting for owner"}}
                </div>
            </div>
        {{/if}}
        <div class="row">
            <div class="col s12">
                {{> wideDangerButton additionalClasses="leave" buttonText="Leave lobby"}}
            </div>
        </div>
    </div>
</template>

<template name="usernameTemplate">
    <li class="collection-item">
        <span>{{username}}</span>
        {{#if renderingForOwner}}
            <a href="#" class="kick secondary-content">
                <span class="hide">{{_id}}</span> <!-- Allows child[0].innerText to be id -->
                <i class="material-icons">clear</i>
            </a>
        {{/if}}
    </li>
</template>
