<template name="allGamesHome">
    {{#if currentUser}}
    {{else}}
        {{> accountForm}}
        <div class="divider"></div>
    {{/if}}

    {{#if gameRooms.count}}
        <div class="container">
            <div class="row">
                <div class="col s12 flow-text">
                    <h5>Open game rooms</h5>
                </div>
            </div>
            {{#each gameRooms}}
                {{> gameTile}}
            {{/each}}
        </div>
    {{else}}
        <div class="row section">
            <div class="col s12 flow-text">
                There aren't any open games at the moment. Be the first to make one! ;)
            </div>
        </div>
    {{/if}}

    {{#if currentUser}}
        <div class="divider"></div>
        <div class="container">
            {{> createGameRoom}}
        </div>
    {{/if}}
</template>