<template name="createGameRoom">
    <!-- TODO(neemazad): Merge this with the account_form template...? -->
    <div class="container">
        <form class="main form">
            <div class="row">
                <div class="col s12 flow-text">
                    <h5> Create game room</h5>
                </div>
            </div>

            <div class="row">
                <div class="col s12 {{errorClass 'title'}}">
                    <input name="title" id="title"
                           type="text" value=""
                           placeholder="Game room title"
                           class="input-field" />
                    <span class="help-block">{{errorMessage 'title'}}</span>
                </div>
            </div>

            <div class="row">
                <div class="col s12 {{errorClass 'password'}}">
                    <input name="password" id="password"
                           type="password" value=""
                           placeholder="Room password (optional)"
                           class="input-field" />
                    <span class="help-block">{{errorMessage 'password'}}</span>
                </div>
            </div>

            <div class="row">
                <div class="col s12">
                    <input type="submit" value="Create room"
                           class="waves-effect waves-light btn"
                           style="width: 100%"/>
                </div>
            </div>
        </form>
    </div>
</template>