<template name="gameRoomPage">
    {{#if open}}
        <div class="container">
            <div class="row">
                <div class="col s12">
                    <h3>{{title}}</h3>

                    <div class="flow-text">
                        Room password:
                        {{#if password}}
                            {{password}}
                        {{else}}
                            <i>none</i>
                        {{/if}}
                    </div>

                    <div class="flow-text">
                        Max # players: {{maxPlayers}}
                    </div>
                </div>
                <div class="col s12 flow-text">
                    <h3>Players</h3>
                    <ul class="list-group">
                        <li class="list-group-item">
                            {{author}}
                            <span style="float: right" class="glyphicon glyphicon-king" aria-hidden="true"></span>
                        </li>
                        <!-- TODO(neemazad): Hacky... how to fix? -->
                        {{#if isRoomOwner}}
                            {{#each normalPlayers}}
                                {{> usernameTemplateWithKick}}
                            {{/each}}
                        {{else}}
                            {{#each normalPlayers}}
                                {{> usernameTemplate}}
                            {{/each}}
                        {{/if}}
                    </ul>
                </div>
            </div>
            {{#if isRoomOwner}}
                <div class="row">
                    <div class="col s12">
                        {{> wideButton additionalClasses="start" buttonText="Start game"}}
                    </div>
                </div>
                <div class="row">
                    <div class="col s12">
                        {{> wideDangerButton additionalClasses="delete" buttonText="Delete room"}}
                    </div>
                </div>
            {{else}}
                <div class="row">
                    <div class="col s12">
                        <a href="#" style="width: 100%" class="start btn btn-primary disabled">
                            Waiting for owner
                        </a>
                    </div>
                </div>
            {{/if}}
            <div class="row">
                <div class="col s12">
                    {{> wideDangerButton additionalClasses="leave" buttonText="Leave lobby"}}
                </div>
            </div>
        </div>
    {{else}}
        {{> gameTemplate}}
    {{/if}}

    <script>
    window.addEventListener('beforeunload', function() {
        Meteor.call('leaveRoom');
    });
    </script>
</template>

<template name="usernameTemplate">
    <li class="list-group-item">
        {{username}}
    </li>
</template>

<template name="usernameTemplateWithKick">
    <li class="list-group-item">
        <span>{{username}}</span> 
        <a href="#" class="kick right">
            <span class="hide">{{_id}}</span> <!-- Allows child[0].innerText to be id -->
            <i class="material-icons">clear</i>
        </a>
    </li>
</template>
