<!-- 
A reusable component form parametrized by:
- formTitle (String)
- namePlaceholder (String)
- passwordPlaceholder (String)
- submitButtonText (String)
 -->

<template name="createForm">
    <div class="container">
        <form class="main form">
            <div class="row">
                <div class="col s12 flow-text">
                    <h5>{{formTitle}}</h5>
                </div>
            </div>

            <div class="row">
                <div class="col s12 input-field">
                    <input name="nameField" id="nameField"
                           type="text" value=""
                           placeholder="{{namePlaceholder}}" />
                </div>
            </div>

            <div class="row">
                <div class="col s12 input-field">
                    <input name="password" id="password"
                           type="password" value=""
                           placeholder="{{passwordPlaceholder}}" />
                </div>
            </div>

            <div class="row">
                <div class="col s12">
                    <!-- Using a wideButton template did not seem to behave well with the Submit semantics -->
                    <input type="submit" value="{{submitButtonText}}"
                           class="waves-effect waves-light btn"
                           style="width: 100%"/>
                </div>
            </div>
        </form>
    </div>
</template>
