<template name="accountForm">
    <div class="container">
        <form class="main form">
            <div class="row">
                <div class="col s12">
                    <span class="flow-text center-align">
                      Use this form to claim a username.
                    </span>
                </div>
            </div>

            <div class="row">
                <div class="col s12 {{errorClass 'username'}}">
                    <input name="username" id="username"
                           type="text" value=""
                           placeholder="Your (preferred) name"
                           class="input-field" />
                    <span class="help-block">{{errorMessage 'username'}}</span>
                </div>
            </div>

            <div class="row">
                <div class="col s12 {{errorClass 'password'}}">
                    <input name="password" id="password"
                           type="password" value=""
                           placeholder="Password (optional)"
                           class="input-field" />
                    <span class="help-block">{{errorMessage 'password'}}</span>
                </div>
            </div>

            <div class="row">
                <div class="col s12">
                    <input type="submit" value="Login with name"
                           class="waves-effect waves-light btn"
                           style="width: 100%"/>
                </div>
            </div>
        </form>
    </div>
</template>