<!-- TODO(neemazad) Update this to materialize. Probably rest of the directory too. -->
<template name="footer">
    <footer>
        <div class="page-footer grey lighten-4">
            <div class="container">
                <div class="row grey-text darken-2">
                    <div class="col s7">
                        Made with <a href="https://www.meteor.com/">Meteor</a>
                    </div>
                    <div class="col s5">
                        by <a href="https://github.com/NZadeh/avalon">Neema Ebrahim-Zadeh</a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</template>