<!-- TODO(neemazad) Update this to materialize. Probably rest of the directory too. -->
<template name="footer">
    <footer>
        <div class="page-footer grey lighten-4">
            <div class="container">
                <div class="row grey-text darken-2">
                    <div class="col s7">
                        based on a
                        <a href="https://github.com/turbomaze/petra/">project</a>
                        written by 
                        <a href="https://igliu.com" target="_blank">Anthony Liu</a>
                    </div>
                    <div class="col s5">
                        by Neema Ebrahim-Zadeh
                    </div>
                </div>
            </div>
        </div>
    </footer>
</template>