<template name="header">
    <nav class="navbar navbar-default" role="navigation">
        <div class="nav-wrapper">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navigation">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="brand-logo left grey-text text-darken-2" href="{{pathFor 'home'}}">
                Avalon
            </a>
        </div>

        <div class="right collapse navbar-collapse" id="navigation">
            {{#if currentUser}}
                <ul class="right nav navbar-nav navbar-right">
                    <li>
                        <a href="#" class="logout">Logout</a>
                    </li>
                </ul>
            {{/if}}
        </div>

    </nav>
</template>